{% extends 'admin/baseAdmin.html.twig' %}

{% block contenu %}
    <div class="container">
        <h2>{{ app.current_route == "app_admin_festival_ajouter" ? "Ajout" : "Modification" }} d'un festival</h2>
        {{ form_start(form) }}

        <div class="row">
            <div class="col-3">
                {{ form_row(form.nom) }}
            </div>
            <div class="col-3">
                {{ form_label(form.lieu) }}
                {{ form_widget(form.lieu, { "attr": {"class": "form-control"} }) }}
            </div>
            <div class="col-3">
                {{ form_row(form.artistes) }}
            </div>
            <div class="col-3">
                {{ form_row(form.affiche) }}
            </div>
            <div class="col-6">
                <button class="btn btn-outline-primary" type="submit">Enregistrer</button>
            </div>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}